<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270234810875-15bqse39982ocd45mi0243icvtg0bnom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270234810875-15bqse39982ocd45mi0243icvtg0bnom</string>
	<key>API_KEY</key>
	<string>AIzaSyCwD_2EOwndWc9EVZsc2aIjCZxkSe8vi2M</string>
	<key>GCM_SENDER_ID</key>
	<string>270234810875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DreamOperation1217</string>
	<key>PROJECT_ID</key>
	<string>ce-project-8a102</string>
	<key>STORAGE_BUCKET</key>
	<string>ce-project-8a102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270234810875:ios:58ad36868571dbb3a9735e</string>
</dict>
</plist>